{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    {% if not app.user %}
        <a href="{{ path('auth_discord_start') }}">
            <button type="button">
                Auth
            </button>
        </a>
    {% else %}
        <a href="{{ path('app_logout') }}">
            <button type="button">
                Logout
            </button>
        </a>
    {% endif %}
{% endblock %}
